/* Cabecera */
header {
  position: absolute;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  z-index: 1000;

  & nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: end;
    align-items: center;
    gap: 30px;

    & a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      position: relative;

      & div {
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #1ed760;
        bottom: -1px;
        left: 0;
        transition: all 0.3s ease;
      }

      &:hover {
        & div {
          width: 100%;
        }
      }
    }

    & .btn {
      border: solid 2px #1ed760;
      padding: 13px 22px;
      border-radius: 4px;
      position: relative;
      color: #1ed760;
      overflow: hidden;

      & span {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #1ed760;
        transition: all 0.35s ease-in-out;
      }

      &:hover {
        & span {
          color: white;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

/* Imagen principal con texto */
.hero {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: black;
  position: relative;
  justify-content: center;

  & img {
    opacity: 0.5;
    width: 100%;
  }

  & div {
    color: white;
    width: 90%;
    max-width: 1200px;
    top: 120px;
    position: absolute;

    & h1 {
      font-size: 150px;
      margin: 0;
      color: transparent;
      -webkit-text-stroke: 4px #1ed760;
      letter-spacing: 5px;
      font-family: sans-serif;
    }

    & .h1-right {
      position: relative;
      margin-left: 90px;
      margin-top: 0px;
      color: white;
      width: fit-content;
      display: flex;
      -webkit-text-stroke: transparent;

      & img {
        opacity: 1;
        position: absolute;
        width: 50px;
        top: 10px;
        right: -25px;
        z-index: 1;
      }

      & span {
        position: relative;
        overflow: hidden;
        z-index: 10;
      }
    }
  }
}

/* Toda la información */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;

  & .container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    gap: 70px 0px;

    & section {
      position: relative;
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-margin-top: 50px;

      & article {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-left: 30px;

        & #info {
          display: flex;
          flex-direction: column;

          & h1 {
            font-size: 50px;
            margin: 0;
            color: #1ed760;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;

            & #sheet-img-sections {
              position: absolute;
              width: 25px;
              left: -48px;
            }
          }

          & p {
            font-size: 18px;
            font-weight: 500;
            color: #858484;
          }
        }

        & #image-section {
          min-width: 400px;
          height: 300px;
          z-index: 1;
          border-radius: 8px;
          box-shadow: 10px 10px 16px #dbdbdb;
        }
      }
    }
  }
}

/* Parte inferior de la página */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #03461b;
  color: white;
  padding: 10px 20px;
  flex-wrap: nowrap;

  & .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      gap: 5px;
    }

    & nav {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 30px;

      & a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }
  }
}
