/* Cabecera */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
  z-index: 1000;

  & .logo h1 {
    margin: 0;
    font-size: 24px;
  }

  & nav {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    & a {
      color: black;
      font-weight: 600;
      text-decoration: none;
    }

    & .btn {
      display: flex;
      background-color: #1ed760;
      padding: 12px 20px;
      border-radius: 6px;
      gap: 5px;
    }
  }
}

/* Imagen principal con texto */
.hero {
  display: flex;
  width: 100%;
  max-height: 750px;
  background-color: black;
  position: relative;

  & img {
    opacity: 0.5;
    width: 100%;
  }

  & div {
    color: white;
    top: 70px;
    left: 30px;
    position: absolute;

    & h1 {
      font-size: 120px;
      margin: 0;
      color: transparent;
      -webkit-text-stroke: 3px #1ed760;
      letter-spacing: 5px;
      font-family: sans-serif;
    }

    & .h1-right {
      position: relative;
      margin-left: 90px;
      margin-top: 0px;
      color: white;
      -webkit-text-stroke: transparent;

      & img {
        opacity: 1;
        position: absolute;
        width: 50px;
        top: 10px;
        right: -25px;
        z-index: 1;
      }

      & span {
        position: relative;
        overflow: hidden;
        z-index: 10;
      }
    }
  }
}

/* Toda la información */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;

  & .container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    gap: 70px 0px;

    & section {
      position: relative;
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-margin-top: 50px;

      & article {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-left: 30px;

        & #info {
          display: flex;
          flex-direction: column;

          & h1 {
            font-size: 50px;
            margin: 0;
            color: #1ed760;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;

            & #sheet-img-sections {
              position: absolute;
              width: 25px;
              left: -48px;
            }
          }

          & p {
            font-size: 18px;
            font-weight: 500;
            color: #858484;
          }
        }

        & #image-section {
          min-width: 400px;
          height: 300px;
          z-index: 1;
          border-radius: 8px;
          box-shadow: 10px 10px 16px #dbdbdb;
        }
      }
    }
  }
}

/* Parte inferior de la página */
footer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #03461b;
  color: white;
  padding: 10px 20px;
  flex-wrap: nowrap;

  & p {
    min-width: fit-content;
  }

  & nav {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    & a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      & i {
        margin-right: 5px;
        font-size: 22px;
      }
    }
  }
}
